<!DOCTYPE html>
<html ng-app language="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="the intelligent vocabulary builder"/>
    <meta name="keywords" content="vocabulary,english,sat2,sat1,gre,toefl,vocab,satI,satII"/>
    <meta name="google-site-verification" content="EaOAupp3KuP8PYT0JWc9uGzk3Olm8im-9c_ihYKjruE" />
    <meta property="fb:admins" content="7933606"/>
    <meta name="application-name" content="vocowl"/>
    <meta name="author" content="Pathikrit Bhowmick"/>

    <title>vocowl</title>

    <link href="http://netdna.bootstrapcdn.com/bootswatch/2.3.2/cyborg/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/intro.js/0.4.0/introjs.min.css" rel="stylesheet">
    <link href="style.css" type="text/css" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42001818-1', 'vocowl.com');
      ga('send', 'pageview');
    </script>
  </head>

  <body ng-controller="VocowlCtrl">
    <div class="config" ng-cloak>
      <article>
        <header>
          <h1>
            vocowl
            <a href="" ng-click="user.settings.mute = !user.settings.mute; pronounce()" ng-init="user.settings.mute = false"
               rel="tooltip" data-toggle="tooltip" title="Toggle Sound" data-placement="right">
              <i ng-class="user.settings.mute ? 'icon-volume-off' : 'icon-volume-up'"></i>
            </a>
          </h1>
        </header>

        <p>
          we have curated a list of the top-5000 most frequent and challenging words that have appeared in various tests
          and designed a smart vocabulary building system that intelligently generates questions based on what you have already learned
        </p>

        <div class="btn-group" ng-model="user.settings.currentDic" ng-init="user.settings.currentDic = 'sample'" bs-buttons-radio data-intro='Choose your word list here. We have hand-picked words in vocowl by parsing questions that have shown up in GRE, TOEFL, SAT I and SAT II examinations in the past 10 years.' data-step='7'>
          <button type="button" class="btn" value="Top-500 TOEFL" ng-disabled="!paid()">Top-500 TOEFL</button>
          <button type="button" class="btn" value="TOEFL"  ng-disabled="!paid()">TOEFL</button><br/>
          <button type="button" class="btn" value="SAT I" ng-disabled="!paid()">SAT I</button>
          <button type="button" class="btn" value="SAT II" ng-disabled="!paid()">SAT II</button><br/>
          <button type="button" class="btn" value="Top-1000 GRE" ng-disabled="!paid()">Top-1000 GRE</button>
          <button type="button" class="btn" value="GRE" ng-disabled="!paid()">GRE</button><br/>
          <button type="button" class="btn" value="sample">Sample</button>
          <button type="button" class="btn" value="full" ng-disabled="!paid()">All</button>
        </div>

        <p ng-hide="paid()">a sample 50-word list is available for free. for the full list of words, please login and buy vocowl+ for $10</p>

        <footer>
          <h5 ng-show="authenticated()">{{user.email}}</h5>
          <h1>
            <a class="btn btn-danger" ng-hide="authenticated()" href="" ng-click="login()">Login</a>
            <a class="btn" ng-show="authenticated()" href="" ng-click="logout()">Logout</a>
            <a class="btn btn-success" ng-show="authenticated() && !paid()" href="" ng-click="charge()">Buy Vocowl+</a>
            <br/><br/>
            <a href="" rel="tooltip" data-toggle="tooltip" title="Help" ng-click="walkthrough()" data-intro='Congratulations! You are now ready to use vocowl! You can retake this tour anytime by clicking here. Please do not forget to leave feedbacks and share vocowl with your friends!' data-step='8' data-position='top'><i class="icon-question"></i></a>
            <a href="mailto:pathikritbhowmick@msn.com?sqs_title=Contact Us" rel="tooltip" data-toggle="tooltip" title="Contact Us"><i class="icon-envelope"></i></a>
            <a href="" ng-click="reset()" ng-enabled="user.words && user.words.length > 0" rel="tooltip" data-toggle="tooltip" title="Reset Progress"><i class="icon-trash"></i></a>
            <a id="love" rel="tooltip" data-toggle="popover, tooltip" href="" data-placement="top" title="Share Vocowl"><i class="icon-heart"></i></a>
          </h1>
        </footer>
      </article>
    </div>
    <div class="meny-arrow"></div>
    <div class="main">
      <div id="finished" ng-show="state === 'finish'" ng-cloak>
        <p><b>Congratulations, you have finished the {{user.settings.currentDic}} word list!</b></p>
        <img ng-src="{{state === 'finish' ? owlImage : ''}}" height="271" width="271">
        <p>To learn more words, <span ng-hide="user.settings.currentDic === 'full'">you can <a href="" ng-click="showSidebar()">choose</a> another word lists
        or </span><a href="" ng-click="reset()">reset</a> to start over.</p>

        <div id="share">
          <div class="addthis_toolbox addthis_default_style">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            <a class="addthis_button_linkedin_counter"></a>&nbsp;
          </div>
        </div>
      </div>

      <div id="flashcard" ng-init="state = 'loading'" ng-cloak ng-show="state === 'firstShow' || state === 'fullShow' || state === 'answer'">
        <span id="word" ng-click="pronounce()" ng-class="user.settings.mute ? '' : 'hover'" data-intro='This is the word you are learning. You can click on it to repeat the pronunciation.' data-step='1'>{{challenge.word}}</span>
        <div style="display: none">
          <button id="fullShowBtn" ng-click="state = 'fullShow'"></button>
          <audio id="pronouncer" ng-src="{{audioUrl()}}"></audio>
        </div>
        <ol id="choices" data-intro="Your choices show up here. The 2nd and 3rd choices show up after a delay to give you time to think. You can either click 'I don't know' right away or hit any key to immediately show rest of the choices." data-step='2'>
          <li><span id="c1" ng-click="choose(1)" ng-class="choiceClass(1)" ng-show="showChoices(1)" data-intro='Click here (or press 1) if you do not know the word.' data-step='3'>1) {{challenge.c1}}</span></li>
          <li><span id="c2" ng-click="choose(2)" ng-class="choiceClass(2)" ng-show="showChoices(2)" data-intro='Click here (or press 2) if you think this is the definition of the word. Based on your recent responses we intelligently prepare the next flashcard.' data-step='4'>2) {{challenge.c2}}</span></li>
          <li><span id="c3" ng-click="choose(3)" ng-class="choiceClass(3)" ng-show="showChoices(3)" data-intro='Click here (or press 3) if you think this is the definition of the word. You may have to get a word right multiple times before we are sure you know it and we stop showing it again.' data-step='5'>3) {{challenge.c3}}</span></li>
        </ol>

        <div id="tally" ng-show="state === 'firstShow' || state === 'answer'">
          <span id="check" ng-show="state === 'answer' && correctChoice()">✓</span>
          <span id="cross" ng-show="state === 'answer' && !correctChoice()">✗</span>
          <p><span id="next" ng-click="next()" class="hover">[press any key {{state === 'firstShow' ? 'to show choices' : 'for next word'}}]</span></p>
        </div>
      </div>

      <div id="progressbar">
        <div class="progress" ng-cloak ng-show="state !== 'loading'" data-intro='Track your progress here.' data-step='6' data-position='top'>
          <div class="bar"             ng-style="{'width': progress('progress') + '%'}"  rel="tooltip" data-toggle="tooltip" bs-tooltip="progress('progress') + '% in progress :-\\'"></div>
          <div class="bar bar-success" ng-style="{'width': progress('correct') + '%'}"   rel="tooltip" data-toggle="tooltip" bs-tooltip="progress('correct') + '% learned :-)'"></div>
          <div class="bar bar-warning" ng-style="{'width': progress('dunno') + '%'}"     rel="tooltip" data-toggle="tooltip" bs-tooltip="progress('dunno') + '% learning :-|'"></div>
          <div class="bar bar-danger"  ng-style="{'width': progress('incorrect') + '%'}" rel="tooltip" data-toggle="tooltip" bs-tooltip="progress('incorrect') + '% incorrect :-('"></div>
          <span id="total" rel="tooltip" data-toggle="tooltip" bs-tooltip="progress('total') + '% complete'">{{progress('total')}} %</span>
        </div>
      </div>

      <div class="loading" ng-show="state === 'loading'"><i class="icon-spinner icon-spin icon-4x"></i></div>
    </div>

    <!---------------------------------------------------------------------------------------------------------------->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.2/angular-strap.min.js"></script>
    <script src="http://cdn.firebase.com/v0/firebase.js"></script>
    <script src="http://cdn.firebase.com/v0/firebase-auth-client.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angularFire/0.1.0/angularfire.min.js"></script>
    <script src="app.js" defer></script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="https://checkout.stripe.com/v2/checkout.js"></script>
    <script src="http://api.webshell.io/sdk/js?key=177e5f601d1826f250ebae3c31f388ec"></script>
    <script src="http://cdn.jsdelivr.net/meny/1.2/meny.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/intro.js/0.4.0/intro.min.js"></script>
    <script src="https://squaresend.com/squaresend.js"></script>
  </body>
</html>
